.missions {
  background-color: rgba(0, 0, 0, 0.541);
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  width: 90%;
}

.all-missions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}

.mission {
  background-color: rgba(7, 7, 7, 0.596);
  background-image: url('https://img.myloview.com.br/quadros/pixel-art-night-sky-aurora-borealis-northern-lights-effect-pixel-background-8-bit-400-231127650.jpg');
  border: 1px solid white;
  border-radius: 10px;
  font-size: large;
  margin: 10px;
  text-shadow: 1px 5px 5px black;
  width: 300px;
}

.missions h2 {
  margin-top: 26px;
}
