.Mercúrio {
  width: 100px;
}

.Vênus {
  width: 120px;
}

.Terra {
  width: 115px;
}

.Marte {
  width: 100px;
}

.Júpiter {
  width: 350px;
}

.Saturno {
  width: 300px;
}

.Urano {
  width: 170px;
}

.Netuno {
  width: 160px;
}
