.solar-system {
  background-color: rgba(0, 0, 0, 0.541);
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  width: 90%;
}

h2 {
  font-size: xx-large;
  margin-top: 20px;
}

.Planets {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  justify-content: center;
  text-align: center;
}
