@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Chewy&family=Sansita&display=swap') ;

body {
  background-image: url('https://wallpaperaccess.com/full/1314202.jpg');
}

* {
  color: white;
}

h1 {
  font-family: Berkshire Swash , cursive;
  font-size: 60px;
  text-align: center;
  text-shadow: 1px 5px 5px black;
}

h2 {
  font-family: Berkshire Swash , cursive;
}

p {
  font-family: Sansita , sans-serif;
}
